POSTGRES_DB=chatlobbydb
POSTGRES_USER=chatuser
POSTGRES_PASSWORD=chatpass

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/chatlobbydb
SPRING_DATASOURCE_USERNAME=chatuser
SPRING_DATASOURCE_PASSWORD=chatpass