<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" class="bg-white border-bottom py-3">
    <div class="container d-flex justify-content-center align-items-center">
        <h3 class="mb-0 fw-bold">
            <a th:href="@{/}"
               class="text-decoration-none d-flex align-items-center"
               style="color: rgb(42, 84, 142);">
                <i class="bi bi-chat-dots-fill me-2" style="transform: scaleX(-1);"></i>
                ChatLobby
            </a>
        </h3>
    </div>
</header>
</body>
</html>