<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
<div class="container">
    <h2>Create account</h2>
    <p id="error" style="display: none;"></p>
    <p id="success" style="display: none;"></p>
    <form id="register-form">
        <div>
            <label>Username</label>
            <input type="text" id="username" placeholder="Enter username"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" id="password" placeholder="Enter password"/>
        </div>
        <button type="submit">Sign up</button>
    </form>
    <p>
        Already have an account?
        <a href="/templates/pagesates/pages/login.html">Login</a>
    </p>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="/js/register.js"></script>
</body>
</html>